{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "browserslistEnv": "production",
        "corejs": {
          "version": "3.8"
        }
      }
    ]
  ],
  "sourceType": "unambiguous"
}